* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-centralizar {
    align-items: center;
    justify-content: center;
}

.pokebola {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid #000;
    position: relative;
    box-shadow: 10px 2px 15px #000;
}

.pb-cima {
    width: 150px;
    height: 75px;
    border-radius: 150px 150px 0px 0px;
    border: 1px solid #000;
    border-bottom: 3px solid #000;
    background-color: red;
}

.bola-centro {
    width: 150px;
    height: 150px;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    border: none;
}

.bolinha-do-meio {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 100%;
}

.pb-baixo {
    width: 150px;
    height: 75px;
    border-radius: 0px 0px 150px 150px;
    border: 1px solid #000;
    border-bottom: 3px solid #000;
    background-color: #fff;
}