* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    --cor_background_padrao: yellow;
    --cor_de_fonte: red;
    scroll-behavior: smooth;
}

#header-top {
    background-color: rgb(255, 179, 0);
    height: 80px;
    width: 100%;
}

main {
    height: auto;
    margin: 0 auto;
    width: 80%;
}

article, p {
    height: auto;
    width: 100%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 32px; /* espaçamento entre as linhas */
    padding: 10px;
}

article, #article-header {
    border-bottom: 1px solid black;
    height: auto;
    padding: 10px;
    width: 100%;
}

article > #article-header > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

nav#menu {
    height: auto;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
}

nav#menu > .item-menu {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

nav#menu > .item-menu:hover {
    background-color: brown;
    color: #000;
    text-decoration: none;
}

main > #receitas {
    background-color: var(--cor_background_padrao);
    height: 600px;
    width: 100%;
}