* {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    height: 80%;
    background-color: #FF3D00;
    border-bottom: 3px solid #000;
    border-top: 1px solid #DD2C00;
    width: 100%;
}

h1 {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
}