* {
    border: 0;
    margin: 0;
    padding: 0;
}

div {
    background-image: url(../img/chess.jpg);
    background-size: 15%;
    background-repeat: repeat-y;
    border: 1px solid #000;
    height: 600px;
    width: 800px;
}