* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 80%;
    background-color: darkgoldenrod;
    margin: 10px auto 10px auto;
}

main {
    height: 600px;
}

header, footer {
    height: 60px;
}

.ajusteTamanho {
    height: 40vh;
    background-color: darkolivegreen;
}

.content-card > div {
    width: 48%;
    height: 30px;
    background-color: darkred;
}

.flex {
    display: flex;
}

.space-btw {
    justify-content: space-between;
}