* {
    border: 0;
    margin: 0;
    padding: 0;
}

#div1 {
    border: 1px solid #000;
    background-color: rgb(255, 160, 0);
    height: 100px;
    margin: 30px auto;
    width: 100px;
}

#div2 {
    border: 1px solid #000;
    background-color: rgba(255, 160, 0, 0.5);
    height: 100px;
    margin: 30px auto;
    width: 100px;
}

#div3 {
    border: 1px solid #000;
    background: linear-gradient(to left, #D50000, #76FF03, #00B0FF);
    height: 100px;
    margin: 30px auto;
    width: 100px;
}

#div4 {
    border: 1px solid #000;
    background: radial-gradient(circle, #D50000, #76FF03, #00B0FF);
    height: 100px;
    margin: 30px auto;
    width: 100px;
}