* {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(216, 67, 21, 0.3);
    border-bottom: 3px solid rgb(216, 67, 21);
    height: 80px;
    width: 100%;
}

h1 {
    height: auto;
    width: 50%;
}